<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /iapp
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /iapp/index.html [L]

</IfModule>